<h3>{{'header.register' | translate}}</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="newUserForm">
  <div class="row">
    <div class="col-md-12">
      <app-form-input [inputPlaceholder]="'forms.pholder.usernameRegister' | translate"
                      formCtrlName="username"
                      [labelPosition]="labelPosition"
                      [inputCols]="4"
                      [errorMsgCols]="3"
                      [errorMsg]="'forms.validation.usernameCharsQuantity' | translate"
                      [label]="'forms.username' | translate">
      </app-form-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-form-input [inputPlaceholder]="'forms.pholder.passwordRegister' | translate"
                      type="password"
                      formCtrlName="password"
                      [labelPosition]="labelPosition"
                      label="{{'forms.password' | translate}}"
                      [errorMsg]="'forms.validation.passwordCharsQuantity' | translate">
      </app-form-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-form-input [inputPlaceholder]="'forms.pholder.passwordRegister' | translate"
                      type="password"
                      formCtrlName="repeatPassword"
                      [labelPosition]="labelPosition"
                      label="{{'forms.repeatPass' | translate}}"
                      [errorMsg]="'forms.validation.passwordCharsQuantity' | translate:{param: minPasswordLength}">
      </app-form-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- FIXME  reuse app-form-input component-->
      <div class="row">
        <div class="col-md-4">
          <label for="isActiveId" class="leftLabel" style="float: right">{{'forms.active' | translate}}</label>
        </div>
        <div class="col-md-4">
          <input type="checkbox"
                 class=""
                 id="isActiveId"
                 formControlName="isActive"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-form-select
        [labelPosition]="labelPosition"
        formCtrlName="authorities"
        [options]="statusesOptions"
        label="{{'forms.authorities' | translate}}">
      </app-form-select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-4 col-md-8">
      <app-form-submit [description]="'forms.submit' | translate"
                       [buttonCols]="6">
      </app-form-submit>
    </div>
  </div>
</form>

