<nav class="sidenav">
  <a class="navbar-brand" href="#"> <!-- TODO info popup on click-->
    <span class="glyphicon glyphicon-road" aria-hidden="true"></span> {{'navbar.appname' | translate}}</a>
  <a routerLink="account/monitoring">{{'navbar.monitor' | translate}}</a>
  <a routerLink="parkingmeter">{{'navbar.parkingmeter' | translate}}</a>
  <a routerLink="users">{{'navbar.users' | translate}}</a>
  <a appHasAuth="{{driverAuthority}}" routerLink="drivermock">{{'navbar.mock' | translate}}</a>
  <a routerLink="logout">{{'navbar.logout' | translate}}</a>
</nav>
