<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <span class="glyphicon glyphicon-road" aria-hidden="true"></span> {{'navbar.appname' | translate}}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Account monitor</a> </li>
      <li><a href="#">Parking meter</a> </li>
      <li><a href="#">Users</a> </li>
      <li><a href="#">Driver Mock</a> </li>
      <li><a href="#">Log out</a> </li>
    </ul>

  </div>
</nav>

