<div class="form-group" [formGroup]="inputFormGroup"
     [ngClass]="{'has-error': isFormInvalid(),
                'has-success': isFormValid()}">
  <label for={{id}}>{{label}}</label>

  <div class="row">
    <div class="col-md-{{inputCols}}">
      <input type={{type}}
             class="form-control"
             id={{id}}
             aria-describedby="inputHelp"
             formControlName={{formCtrlName}}
             placeholder={{inputPlaceholder}}>
    </div>
    <div class="row" *ngIf="isFormInvalid()">
      <div class="col-md-{{errorMsgCols}}">
        <span>This field is required</span>
      </div>
    </div>
  </div>
  <small id="inputHelp" class="form-text text-muted">{{description}}</small>
</div>
