<div class="form-group" [formGroup]="inputFormGroup"
     [ngClass]="{'has-error': inputFormGroup.get(formCtrlName).invalid && inputFormGroup.get(formCtrlName).touched,
                'has-success': inputFormGroup.get(formCtrlName).valid}">
  <label for={{id}}>{{label}}</label>
  <input type={{type}}
         class="form-control"
         id={{id}}
         aria-describedby="inputHelp"
         formControlName={{formCtrlName}}
         placeholder={{inputPlaceholder}}>
  <small id="inputHelp" class="form-text text-muted">{{description}}</small>
</div>
