<div class="form-group" [formGroup]="inputFormGroup"
     [ngClass]="{'has-error': isFormInvalid(),
                'has-success': isFormValid()}">
  <div class="row">
    <div class="col-md-{{datepickerCols}}">
      <label [for]="id" class="leftLabel">{{label}}</label>
    </div>
    <div class="col-md-{{datepickerCols}}">
      <input [id]="id"
             matInput
             [matDatepicker]="picker"
             [placeholder]="datepickerPholder"
             formControlName={{formCtrlName}}
             readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
</div>
