<div class="row">
  <form (ngSubmit)="onSubmit()" [formGroup]="parkingMeterForm">
    <div class="col-md-2">
      <app-form-input
        [labelPosition]="labelPosition"
        type="number"
        formCtrlName="parkingSpaceId"
        inputPlaceholder="{{'forms.parkingSpaceId' | translate}}"
        errorMsg="{{'forms.maxSizeErrorMsg' | translate}}"
        [errorMsgCols]="12"
        [inputCols]="12">
      </app-form-input>
    </div>
    <div class="col-md-2">
      <app-form-input
        [labelPosition]="labelPosition"
        formCtrlName="parkingSpaceStatus"
        inputPlaceholder="{{'forms.parkingSpaceStatus' | translate}}"
        errorMsg="{{'forms.maxSizeErrorMsg' | translate}}"
        [errorMsgCols]="12"
        [inputCols]="12">
      </app-form-input>
    </div>
    <div class="col-md-2">
      <app-form-input
        [labelPosition]="labelPosition"
        formCtrlName="vehicleRegistrationNr"
        inputPlaceholder="{{'forms.registration' | translate}}"
        errorMsg="{{'forms.maxSizeErrorMsg' | translate}}"
        [errorMsgCols]="12"
        [inputCols]="12">
      </app-form-input>
    </div>

    <div class="col-md-2">
      <app-form-submit [description]="'forms.search' | translate"
                       [buttonCols]="12">
      </app-form-submit>
    </div>
  </form>

</div>

<hr class="separator">

<div *ngIf="true"> <!--FIXME-->
  <h1>{{'info.accountMonitor' | translate}}</h1>
</div>

<div>
  TABLE
</div>

