<div class="row">
  <form (ngSubmit)="onSearch()" [formGroup]="parkingMeterForm">
    <div class="col-md-2">
      <app-form-input
        [labelPosition]="labelPosition"
        type="number"
        formCtrlName="parkingSpaceId"
        inputPlaceholder="{{'forms.parkingSpaceId' | translate}}"
        errorMsg="{{'forms.validation.maxChars' | translate}}"
        [errorMsgCols]="12"
        [inputCols]="12">
      </app-form-input>
    </div>
    <div class="col-md-2">
      <app-form-select
        [labelPosition]="labelPosition"
        formCtrlName="parkingSpaceStatus"
        [options]="statusesOptions"
        inputPlaceholder="{{'forms.parkingSpaceStatus' | translate}}"
        [inputCols]="12">
      </app-form-select>
    </div>
    <div class="col-md-2">
      <app-form-input
        [labelPosition]="labelPosition"
        formCtrlName="registration"
        inputPlaceholder="{{'forms.registration' | translate}}"
        errorMsg="{{'forms.validation.maxChars' | translate}}"
        [errorMsgCols]="12"
        [inputCols]="12">
      </app-form-input>
    </div>

    <div class="col-md-2">
      <app-form-submit [description]="'forms.search' | translate"
                       [buttonCols]="12">
      </app-form-submit>
    </div>
  </form>

</div>

<hr class="separator">
<!--FIME new component for table, also sorting and paginatin -->
<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">{{'table.parkingSpaceId' | translate}}</th>
      <th scope="col">{{'table.parkingSpaceStatus' | translate}}</th>
      <th scope="col">{{'table.registrationNr' | translate}}</th>
      <th scope="col">{{'table.occupiedFrom' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of parkingSpaceRecords">
      <td> {{row.parkingSpaceId}}</td>
      <td>{{'options.parkingSpace.'+row.parkingSpaceStatus | translate}}</td>
      <td>{{row.registration}}</td>
      <td>{{row.occupationStartDate}}</td>
    </tr>
    </tbody>
  </table>
</div>

