<div class="login-form">
  <h1 class="text-center ">{{'welcomeMessage' | translate}}</h1>
  <hr class="blue-background"/>
  <div class="row center-block">
    <div class="col-md-4 col-md-offset-4">
      <form (ngSubmit)="onSubmit()">
        <app-form-input [inputPlaceholder]="'forms.usernamePholder' | translate"
                        [label]="'forms.loginWelcome' | translate"
                        inputName="username"> <!-- FIXME, moze wyciagac nazwy z modelu jakos -->
        </app-form-input>
        <app-form-input [inputPlaceholder]="'forms.passwordPholder' | translate"
                        type="password"
                        inputName="password"
                        [description]="'forms.loginHelper' | translate">
        </app-form-input>
        <app-form-submit [description]="'forms.login' | translate"></app-form-submit>
      </form>
    </div>
  </div>
</div>
