<route-modal #myModal
             modalClass="modal-lg"
             [hideCloseButton]="true"
             [closeOnEscape]="false"
             [closeOnOutsideClick]="false">
  <modal-header>
    <h1 class="text-center ">{{'welcomeMessage' | translate}}</h1>
  </modal-header>
  <modal-content>
    <div class="row center-block">
      <div class="col-md-8 col-md-offset-4">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <app-form-input [inputPlaceholder]="'forms.pholder.username' | translate"
                          formCtrlName="username"
                          [inputCols]="5"
                          [errorMsgCols]="3"
                          [errorMsg]="'forms.validation.usernameCharsQuantity' | translate:{param: minUsernameLength}"
                          [label]="'forms.loginWelcome' | translate">
          </app-form-input>
          <app-form-input [inputPlaceholder]="'forms.pholder.password' | translate"
                          type="password"
                          formCtrlName="password"
                          [inputCols]="5"
                          [errorMsgCols]="3"
                          [errorMsg]="'forms.validation.passwordCharsQuantity' | translate:{param: minPasswordLength}"
                          [description]="'forms.loginHelper' | translate">
          </app-form-input>
          <app-form-submit [description]="'forms.login' | translate"
                           [buttonCols]="5">
          </app-form-submit>
        </form>
      </div>
    </div>
  </modal-content>
  <modal-footer >
    <h6>
    {{'footer.adminContact' | translate}}
    </h6>
  </modal-footer>
</route-modal>
