<div class="login-form">
  <h1 class="text-center ">{{'welcomeMessage' | translate}}</h1>
  <hr class="blue-background"/>
  <div class="row center-block">
    <div class="col-md-8 col-md-offset-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <app-form-input [inputPlaceholder]="'forms.usernamePholder' | translate"
                        formCtrlName="username"
                        [inputCols]="5"
                        [errorMsgCols]="3"
                        [label]="'forms.loginWelcome' | translate">
        </app-form-input>
        <app-form-input [inputPlaceholder]="'forms.passwordPholder' | translate"
                        type="password"
                        formCtrlName="password"
                        [inputCols]="5"
                        [errorMsgCols]="3"
                        [description]="'forms.loginHelper' | translate">
        </app-form-input>
        <app-form-submit [description]="'forms.login' | translate"></app-form-submit>
      </form>
    </div>
  </div>
</div>
