<div class="form-group" [formGroup]="inputFormGroup"
     [ngClass]="{'has-error': isFormInvalid(),
                'has-success': isFormValid()}">
  <label for={{id}} *ngIf="labelTopPosition()">{{label}}</label>

  <div class="row">
    <div class="col-md-{{inputCols}}" *ngIf="labelLeftPosition()">
      <label for={{id}} class="leftLabel">{{label}}</label>
    </div>
    <div class="col-md-{{inputCols}}">
      <input type={{type}}
             class="form-control"
             id={{id}}
             aria-describedby="inputHelp"
             formControlName={{formCtrlName}}
             disabled = {{disabled}}
             placeholder={{inputPlaceholder}}>
    </div>
    <div class="row" *ngIf="isFormInvalid()">
      <div class="col-md-{{errorMsgCols}} text-center">
        <span class="text-danger ">{{errorMsg}}</span>
      </div>
    </div>
  </div>
  <small id="inputHelp" class="form-text text-muted">{{description}}</small>
</div>
