<div class="form-group" [formGroup]="inputFormGroup"
     [ngClass]="{'has-error': isControlInvalid(),
                'has-success': isControlValid()}">
  <label for={{id}} *ngIf="labelTopPosition()">{{label}}</label>

  <div class="row">
    <div class="col-md-{{inputCols}}" *ngIf="labelLeftPosition()">
      <label for={{id}} class="leftLabel">{{label}}</label>
    </div>
    <div class="col-md-{{inputCols}}">
      <input *ngIf="type!=='checkbox'"
             type={{type}}
             class="{{inputClasses}}"
             id={{id}}
             aria-describedby="inputHelp"
             formControlName={{formCtrlName}}
             placeholder={{inputPlaceholder}}>
      <input *ngIf="type==='checkbox'"
             type="checkbox"
             class="{{inputClasses}}"
             id={{id}}
             aria-describedby="inputHelp"
             formControlName={{formCtrlName}}>
    </div>
    <div class="row" *ngIf="isControlInvalid()">
      <div class="col-md-{{errorMsgCols}} text-center">
        <span class="text-danger ">{{genericErrorMsg}}</span>
      </div>
      <div class="col-md-{{errorMsgCols}} text-center" *ngFor="let pair of specificErrorMsgPairs">
        <span class="text-danger " *ngIf="shouldRender(pair)">{{pair.translation}}</span>
      </div>
    </div>
  </div>
  <small id="inputHelp" class="form-text text-muted">{{description}}</small>
</div>
