<nav class="sidenav">
  <a (click)="infoModal.open()">
    <span class="glyphicon glyphicon-road" aria-hidden="true"></span> {{'navbar.appname' | translate}}</a>

  <a [appHasAuth]="ownerAuthority"
     routerLink="accountmonitoring"
     routerLinkActive="active">{{'navbar.monitor' | translate}}</a>

  <a [appHasAuth]="operatorAuthority"
     routerLink="parkingmeter"
     routerLinkActive="active">{{'navbar.parkingmeter' | translate}}</a>

  <a [appHasAuth]="adminAuthority"
     routerLink="users"
     routerLinkActive="active">{{'navbar.users' | translate}}</a>

  <a [appHasAuth]="driverAuthority"
     routerLink="drivermock"
     routerLinkActive="active">{{'navbar.mock' | translate}}</a>

  <a routerLink="logout">{{'navbar.logout' | translate}}</a>
</nav>

<modal #infoModal  cancelButtonLabel="{{'actions.close' | translate}}" >
  <modal-header>
    <h3 class="text-center ">{{'header.info' | translate}}</h3>
  </modal-header>
  <modal-content>
    {{'info.about' | translate}}
  </modal-content>
</modal>
