:host {
  background-color: #efefef;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  margin-bottom: 100px; /* to leave place for footer, otherwise content hides under */
}

.blurred {
  -webkit-filter: blur(5px) grayscale(90%);
}

.router-outlet {
  padding-top: 100px;
  padding-left: 20px;
}
