:host {
  background-color: #efefef;
}

.main {
  display: flex;
  min-height: 100vh;
}

.blurred {
  filter: blur(5px) grayscale(90%);
}

.router-outlet {
  padding-top: 100px;
  padding-left: 20px;
}

.flex-content {
  flex: 1;
}

.flex-nav{
  /* 12em is the width of the columns */
  flex: 0 0 15em;
  order: -1;
}
