<div class="row">
  <form (ngSubmit)="onSubmit()" [formGroup]="reportForm">

    <div class="col-md-6">
      <app-datepicker formCtrlName="reportDate"
                      [label]="'forms.reportDate' | translate"
                      [datepickerPholder]="'forms.reportDatePholder' | translate"
                      [datepickerCols]="5">
      </app-datepicker>

    </div>
    <div class="col-md-6">
      <app-form-submit [description]="'forms.submit' | translate"
                       [buttonCols]="2">
      </app-form-submit>
    </div>
  </form>

</div>

<hr class="separator">

<div *ngIf="!isFinancialReportAvailable()">
  <h1>{{'info.accountMonitor' | translate}}</h1>
</div>

<div class="row" *ngIf="isFinancialReportAvailable()">
  <div class="col-md-12">
    <app-form-input [inputPlaceholder]="'forms.passwordPholder' | translate"
                    type="password"
                    formCtrlName="password"
                    [inputCols]="5"
                    [errorMsgCols]="3"
                    [errorMsg]="'forms.passwordErrorMsg' | translate:{param: minPasswordLength}"
                    [description]="'forms.loginHelper' | translate"
                    disabled="true">
    </app-form-input>
  </div>
</div>
