<div class="row">
  <form (ngSubmit)="onSubmit()" [formGroup]="reportForm">

    <div class="col-md-6">
      <app-datepicker formCtrlName="reportDate"
                      [label]="'forms.reportDate' | translate"
                      [datepickerPholder]="'forms.reportDatePholder' | translate"
                      [datepickerCols]="5">
      </app-datepicker>

    </div>
    <div class="col-md-6">
      <app-form-submit [description]="'forms.submit' | translate"
                       [buttonCols]="2">
      </app-form-submit>
    </div>
  </form>
</div>
<div>
  <h1>{{'info.accountMonitor' | translate}}</h1> <!--FIXME: invisible after submit-->
</div>
